

*{
margin: 0;
padding: 0;
box-sizing: border-box; /* */
}

body {
 font-family: "Quicksand", sans-serif;
}
header{height: 100vh;}


.navbar{
display: flex;
justify-content: space-between; /**/
background-color: aquamarine;
align-items: center; 
}
.navbar img{ height: 80px;
margin-left: 100px;
}

.navbar ul{
  list-style: none;
  display: flex;
  margin-right: 100px;

}
.navbar a {
text-decoration: none;
color: #fff;
padding: 15px 20px;
font-weight: 700;
}
.navbar ul li a:hover {
  border-bottom: 2px solid red;
}

.navbar {display: flex;
justify-content: space-between;}

.content {
  display: flex;
 /* text-align: center;*/
 flex-direction: column;
 justify-content: center;
  align-items: center;
background-color: green;
height: 75vh;
}